<footer>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4"><a href="#"><img src="assets/images/tata-communication.png" alt="TATA COMMUNICATION"></a></div>
          <div class="col-md-4 text-center">
              <ul class="footer-nav">
                  <li><a href="#.">About Us</a></li>
                  <li><a href="#.">Contact Us</a></li>
                  <li><a href="#.">Policies</a></li>
                  <li><a href="#.">Legal</a></li>
                  <li><a href="#.">Sitemap</a></li>
              </ul>
          </div>
          <div class="col-md-4 text-right">&copy; 2018 Tata Communications Ltd. All rights reserved.</div>  
      </div>
  </div>
</footer>