<div class="m-l-10">
    <div class="col-md-12 p-all-0">
        <div class="col-md-6 pull-left p-all-0 m-b-5">
            <h4 class="text-color-label">Software Summary</h4>
        </div>
        <!-- <button class="btn btn-primary bg-set pull-right" (click)="onClickSoftwareAdd()" [disabled]="false">ADD</button> -->
    </div>
    <div class="box">
        <div class="lineUnder m-t-10">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 bg-lightGray pb-4" [hidden]="!showSearchbox">
                <div class="col-md-12 big-text">Advanced Search</div>
                <div class="formsFields">
                    <form #searchForm="ngForm">
                        <div class="row col-md-12">
                            <div class="col-md-3 m-t-5">
                                <label>Software Type: </label>
                                <select class="form-control selectTopMargin" name="type" id="type" [(ngModel)]="softwareFilterObj.selectedType">
                                    <option value="">Select</option>
                                    <option value="{{type.id}}" *ngFor = "let type of softwareMasterData.softwareTypes">{{type.name}}</option>
                                </select>
                                <div class="errorMsg" [hidden]="!noFilterSelect" id="error">Select atleast one filter</div>
                            </div>
                            <div class="col-md-3 m-t-5">
                                <label>Software Category: </label>
                                <select class="form-control selectTopMargin" name="category" id="category" [(ngModel)]="softwareFilterObj.selectedCategory">
                                    <option value="">Select</option>
                                    <option value="{{category.id}}" *ngFor = "let category of softwareMasterData.softwareCategories">{{category.name}}</option>
                                </select>
                            </div>

                            <div class="col-md-3 m-t-5">
                                <label>Manufacturer: </label>
                                <select class="form-control selectTopMargin" name="manufacturer" id="manufacturer" [(ngModel)]="softwareFilterObj.selectedManufacture">
                                    <option value="">Select</option>
                                    <option value="{{manufacturer.id}}" *ngFor = "let manufacturer of softwareMasterData.manufacturer">{{manufacturer.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-primary bg-set text-uppercase m-t-25 m-l-10 pull-right" value="Search" (click)="searchSoftwares(searchForm)">
                                <input type="button" class="btn btn-primary bg-set-secondary text-uppercase m-t-25 pull-right" value="Clear" (click)="clearFilters()">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <a class="openClose pointer" [hidden]="showSearchbox" (click)="showhideSearch()">
            <i class="fa fa-search advanced-search-icon"></i>
        </a>
        <a class="openClose pointer" [hidden]="!showSearchbox" (click)="showhideSearch()">
            <i class="fa fa-chevron-up advanced-search-icon"></i>
        </a>

        <label class="col-md-12 m-t-25">
            <b>Total Records: </b>
            {{softwareSummaryData.pagination?.totalElements}}
        </label>
        <table-header [pageInfo]="softwareSummaryData.pagination" (onChange)="onChangeFilter($event)" [search]="true" [noOfRecord]="true"
            [sort]="false"></table-header>
        <div *ngIf="dataLoader">
            <mat-progress-spinner style="margin:0 auto;" color="primary" [diameter]="30"  strokeWidth="3" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="table-part" *ngIf="!dataLoader && softwareSummaryData.softwares?.length > 0">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <th class="center-all">Software</th>
                        <th class="center-all">Version</th>
                        <!-- <th class="center-all">Purchased</th>
                        <th class="center-all">Installed</th>
                        <th class="center-all">Available</th> -->
                        <th class="center-all">Compliance Type</th>
                        <th class="center-all">Category</th>
                        <th class="center-all">Manufacturer</th>
                        <th class="center-all">Type</th>
                    </thead>
                    <tbody style="font-weight:600;" *ngFor="let software of softwareSummaryData.softwares">
                        <tr class="bl-blue table-card">
                            <!-- <td class="pointer row" *ngIf= "false">
                  <div class="col-md-1">
                        <i class="fa fa-plus-square" aria-hidden="true" (click)="openDialog(software.basicSoftwareDetails.id)" *ngIf="true"></i>
                  </div>
                  <div class="col-md-8 offset-md-2 p-0">
                        <a [routerLink]="['/ocs/sam-details/',software.basicSoftwareDetails.id]">{{software.basicSoftwareDetails.name}}</a>
                  </div>
              </td> -->
                            <td class="center-all pointer">
                                <div class="col-md-8 offset-md-3 p-0">
                                    <a [routerLink]="['/ocs/sam-details/',software.id]">{{software.name}}</a>
                                </div>
                            </td>
                            <td class="center-all">{{software.version || 'NA'}}</td>
                            <!-- <td class="center-all">{{software.purchasedCount}}</td>
                            <td class="center-all">{{software.installedCount}}</td>
                            <td class="center-all">{{software.availableCount}}</td> -->
                            <td class="center-all">{{software.complianceType || 'NA'}}</td>
                            <td class="center-all">{{software.softwareCategory?.name || 'NA'}}</td>
                            <td class="center-all">{{software.manufacturer.name || 'NA'}}</td>
                            <td class="center-all">{{software.softwareType.name || 'NA'}}</td>
                        </tr>
                        <br>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="table-part" *ngIf = "softwareSummaryData.softwares?.length == 0">
        <div>
            <h6 class = "center-all" style="padding: 10px">No Data Availble.</h6>
          </div>
      </div>
    </div>
</div>