:host ::ng-deep .mat-tab-header{
    box-shadow: 1px 2px 3px #f6f6f6;
    height: 5em;
    background-color: #f6f6f6;
}

:host ::ng-deep .mat-tab-label{
    margin-top: 10px;
    height: 5em !important;
}
